.breadcrumb{
    background-color: #2d3561;
}
.breadcrumb-item{
    float: right;
}
.breadcrumb-item.active{
    color: #f1f1f1;
}
.breadcrumb li a{
    color: #fd5f00;
    font-weight: bold;
}
.breadcrumb li a:hover{
    color: #000;
    transition: .3s ease-in-out;
}
/* ========================= */
.profile .profile_msg{
    padding: 5px;
    background-color: #2d3561;;
    color: aliceblue;
    text-indent: 15px;
}
.profile .btn_st , .profile .s_out{
    color: black;
    background: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    border-bottom: 1px solid #bbb;
    border-radius: 0 !important;
}
.profile .btn_st:after {
    content: "\f053";
    font-family: FontAwesome;
    color: #333;
    font-size: 13px;
    float: right;
    margin-left: 5px;
}
.btn_st:focus::after {
    content: "\f078";
    font-family: FontAwesome;
}
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.25);
    box-shadow: 0 0 0 0px rgba(2,117,216,.25);
}
.profile .s_out a{
    text-decoration: none;
    color: #000
}
.profile .s_out a:hover{
    color: #fd5f00;
    transition: .3s ease-in-out;
}
.profile .s_out i{
    color: #fd5f00;
}
.profile .prof_info{
    margin-top: 20px;
    margin-right: 10px;
}
.profile .btn_cont{
    float: left;
    margin-bottom: 20px;
}
.profile .btn_cont a{
    color: #fff;
    text-decoration: none;
}
.profile .card{
    border-radius: 0;
    padding: 5px 3px;
}

.profile .modal textarea{
    width: 100%;
    background-color: #eee;
    text-indent: 10px;
    padding-top: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #f48639;
}
.profile .modal input[type='button']{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f48639;
    color: #f1f1f1;
    font-weight: bold;
    position: relative;
    bottom: 0;
    right: 90%;
}
.testimonial .modal input[type='button']:hover{
    background-color: #2d3561;
    transition: .3s ease-in-out;
}
.profile .card{
    border: none;
}
.profile .modal .logo_m{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #2d3561;
    border-radius: 50%;
    float: left;
}
.profile .modal .ln{
    background-color: #f48639;
}
.tablinks{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #f48639;
    font-family: 'Changa', sans-serif;
    color: #f48639;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.tablinks:hover , .tablinks.active{
    background-color: #f48639;
    border-color: #f48639;
    color: #2d3561;
    font-weight: bold
}
#period_product_car{
    display: none;
}
#period_product_jew{
    display: none;
}
#period_product_pro{
    display: none;
}
#period_product_vic{
    display: none;
}
#period_product_high{
    display: none;
}

.breadcrumb .notificate{
    float: left;
    color: #f48639;
    /*background-color: #eee;*/
    border-radius: 50%;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu .dropdown-item{
    overflow-y: scroll;
    height: 250px;
}
.dropdown-menu .dropdown-item i{

    padding-bottom: 15px;
    border-bottom: 1px solid #bbb;
    margin-top: 10px;
    /*overflow: scroll;*/
}
.item_window{
    position: relative;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    margin-bottom: 10px;
}
.item_window:hover{
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    transition: .3s ease-in-out
}
.text-block {
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color: #2d3561;
    color: white;
    padding: 8px;
    width: 40%;
    border-radius: 15px;
}
.text-block h4{
    color: #f48639;
}
.add_favourit{
    border: 1px solid #f48639;
    padding: 20px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 10px;
}
.add_favourit img{

    height: 150px;
    width: 100px;
    border-radius: 15px;
    float:right;

}
.add_favourit h4{
    color: #f48639;
    margin-right: 110px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f48639;
    width: 40%;
    display: block;

}
.add_favourit  p{
    margin-right: 110px;
    font-weight: bold;
}
.add_favourit button{
    float: left;
    width: 150px;
}

