body{
    font-family: 'Changa', sans-serif;
}
.addforms .card{
    border: 1px solid #2d3561;
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.tabcontent #products{
    background-color: #eee;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-indent: 15px; 
    font-family: 'Changa', sans-serif; 
    outline: none;
}
.tabcontent #products:hover{
    background-color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;

}
.tabcontent .card .forms{
    padding: 15px;
}
.forms .mb-3 i{
    text-align: center;
    line-height: 1.5;
    padding: 5px;
    font-size: 20px;
    background-color: #eee;
    color: #bbb;
    width: 40px;
    border-radius: 0px 5px 5px 0px !important;
}
.forms input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
/*    line-height: 1.5;*/
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    /* border-radius: 0.25rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Changa', sans-serif;
    border-radius: 5px 0px 0px 5px !important;
}
.forms input.active , .forms input:focus{
/*    border-bottom: 1px solid #2d3561;*/
    transition: .3s ease-in-out;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.forms input:hover i{
    color: red;
}

.forms label{
    border-bottom: 1px solid #f48639;
    /* width: 100%; */
    
    text-indent: 20px;
}
.forms .lb{
    margin-left: 30%;
}
fieldset{
    border:1px solid #f48639;
}
fieldset legend{
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
.forms select{
    width: 100%;
    /* background-color: #f48639; */
    color: #636c72;
    font-weight: bold;
    padding: 2px;
    outline: none;
    text-indent: 15px;
    border-color: #eee;
}
.forms input[type='file']{
    width: 100%;
}
.forms .btn_sub{
    color: #fff;
    background: #f48639;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.forms .btn_sub.active , .forms .btn_sub:hover{
    background-color: #2d3561;
    color: #fff;
    cursor: pointer;
    
}
#cars_d , #vichles_d , #jewl_d , #builds_d , #high_d{
    display: none;
}